@charset "utf-8";
/* CSS Document */

/* Structure */
body {
	background-color:#000;
	font-size:20px;
}

.fullWidth {
	background: url(../img/structure/pageTop-jungle-texture-v1.svg) no-repeat;
  	height: 463px;
  	width: 100%;
  	z-index: 100 !important;
}
.fullWidthBtm {
	background: url(../img/structure/pageTop-jungle-texture-btm-v1.svg) no-repeat;
  	height: 463px;
  	width: 100%;
  	z-index: 100 !important;
}
/* Footer */
	.anchor {
	font-size:1.3rem;
	text-transform: uppercase;
	text-align: center;
	margin:50px auto;
	display: block;
	border-top: 3px solid #333;
    width: 33%;
}

.fullWidthBtm p {
	color:#6DA63F;
	font-weight:600;
	padding-bottom: 30px
}
.fullWidthBtm ul {
	margin:120px 0px 0px 0px;
	padding:0px;
}
.fullWidthBtm ul li {
	display: inline;
}
.fullWidthBtm ul li a img  {
	width: 40px;
    padding: 0px 20px;
    vertical-align: middle;
}
/* Type */

/* UI */
@keyframes breezyleaf {
	0% {transform: rotate(0deg);}
50% {transform: rotate(10deg);}
100% {transform: rotate(0deg);}
}
#jungle1 {
	animation: breezyleaf 3s infinite; 
	width:10%;
	position:absolute;
	    left: 22%;
    top: 9px;
}
#jungle2 {
	animation: breezyleaf 3s 1s infinite; 
	width:10%;
	position:absolute;
	right: 22%;
	top:9px;
	z-index: 0;
}
button {
	-webkit-appearance: none;
	cursor: pointer;
	background: none;
	border: 0px;
	box-shadow: none;
	font-size: 2.5rem;
	color: #ffffff;
}
.buttonCross {
		width:13%;
		padding:20px 0px 80px 0px;
	}
.opacity {
	transition: opacity 0.4s;
}
.opacity:hover {
	opacity:0.2;
}
.logo-instagram {
	width:30px;
	padding-bottom:20px;
	display: block;
	margin:12px auto 0 auto;	
}
.email-icon {
	width:36px;
	display: block;
	margin-right:0px;
}
.relative {
	position: relative;
}
/* Images */
img {
	width:100%;
}
.tagline {
	width:48%;
	padding:20px 0px;
}
.jungleTop {
display: block;
background: url(http://adventurersclubcomic.com/img/pageTop-jungle-texture-v1.svg);
background-repeat: no-repeat;
text-align: center;
}
.logo {
margin:0 auto;
	z-index: 1;
    position: relative;
	width:43%;
	max-width:350px;
}
.jungleBtm {
display: block;
background: url(http://adventurersclubcomic.com/img/pageTop-jungle-texture-btm-v1.svg);
background-repeat: no-repeat;
text-align: center;
background-size: cover;
height: 433px;
padding-bottom: 0px;
margin-bottom: 0px;
}


/* Panels */
.pg1copy1 {
width: 70%;
    top: 68px;
    position: relative;
}
.pg1copy2 {
	width: 90%;
    position: relative;
    z-index: 10;
    margin-top: -79px;
}
.pg1copy3 {
    width: 62%;
    top: 0px;
    position: relative;
    left: -21%;
}
.pnl2 {
	margin-top:72px;
}
.pnl5 {
	margin-top:72px;
}
.pnl6 {
	margin-top:72px;
}
.pg1copy4 {
    width: 46%;
    position: absolute;
    left: 477px;
    top: 168px;
}
.pg1copy5 {
    width: 71%;
    position: absolute;
    top: 620px;
    left: 50%;
    margin-left: -35%;
}
.pg1pnl4 {
	margin-top:-92px;
}
.pg1copy6 {
width: 70%;
    top: 89px;
    position: relative;
}
.pg1copy7 {
    width: 70%;
    top: -108px;
    position: absolute;
    left: 16%;
}
.pg1copy8 {
    width: 44%;
    top: 41px;
    position: absolute;
    left: -4%;
}
.pg1copy9 {
    width: 45%;
    top: 292px;
    position: absolute;
	left: 52%;
	z-index: 999;
}
.pg1copy10 {
    width: 70%;
    top: 8px;
    position: absolute;
    left: 16%;
}
.pg1pnl6 {
	margin-top:-226px;
}
.pg1copy11 {
    width: 70%;
	z-index: 1;
    position: relative;
}
.pg1copy12 {
     width: 70%;
    z-index: 1;
    position: relative;
    left: -101px;
    TOP: 17PX;
}
.pg1copy13 {
    width: 70%;
    z-index: 1;
    position: absolute;
    margin-top: 555px;
    left: 130px;
}
.pg1pnl7 {
	margin:50px 0px 0px 0px;
	width:50%;
}
	#mc_embed_signup{background:#f7c873; clear:left; padding:0px 20px 20px 20px; }
	#mc_embed_signup input {
    background: none;
    border: 3px solid #333333!important;
    line-height: 24px;
    color: #333;
    font-size: 22px;
    font-family: serif;
    padding: 0px;
    margin: 0px 0px 10px 0px;
	}
#mc_embed_signup h2 {
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    margin: 0px;
    line-height: 1.2em;
}

#mc_embed_signup label {
    font-weight: bolder;
    width: 30%;
    position: relative;
    display: inline-block;
}
#mc_embed_signup .button {
    background-color: transparent!important;
    color: #333333!important;
    font-weight: 600;
    padding: 10px;
    margin-top: 18px;
}
#mc_embed_signup .button:hover {}
.fullWidthBtm ul {
    margin: 0px;
    padding: 0px;
}

/* Media */
@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	.logo {
		width:100%;
	}
	.tagline {
		width:100%;
		padding:0px;
	}
	.buttonCross {
		width: 29%;
		padding: 0px 0px 0px 0px;
	}
	.fullWidth {
		height:500px;
	}
	.pg1copy1 {
		width: 87%;
		top: 27px;
		position: relative;
	}
	.pg1copy2 {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: -31px;
	}
	.pnl2 {
		margin-top: 0px;
	}
.pg1copy3 {
    width: 83%;
    top: 0px;
    position: relative;
    left: -12%;
}
	.pg1copy4 {
    width: 60%;
    position: absolute;
    left: 115px;
    top: 51px;
}
	.pg1copy5 {
    width: 90%;
    position: absolute;
    top: 169px;
    left: 40%;
    margin-left: -35%;
}
	.pg1copy6 {
    width: 90%;
    top: -16px;
    position: absolute;
    left: 13px;
	}
	.pg1pnl4 {
    margin-top: -44px;
	}
	.pg1copy7 {
    width: 79%;
    top: -61px;
    position: absolute;
    left: 11%;
	}
	.pg1copy8 {
    width: 51%;
    top: 4px;
    position: absolute;
    left: -7%;
	}
	.pg1copy9 {
    width: 51%;
    top: 90px;
    position: absolute;
    left: 37%;
	}
	.pnl5 {
    margin-top: 0px;
	}
	.pg1copy10 {
    width: 84%;
    top: 0px;
    position: absolute;
    left: 8%;
	}
	.pnl6 {
    margin-top: 142px;
}
	.pg1copy11 {
    width: 87%;
    z-index: 1;
    position: relative;
}
	.pg1copy12 {
    width: 88%;
    z-index: 1;
    position: relative;
    left: -25px;
    top:-134px;
	}
	.pg1copy13 {
    width: 91%;
    z-index: 1;
    position: absolute;
    margin-top: 21px;
    left: 15px;
	}
	#mc_embed_signup h2 {
    font-size: 1em!important;
	}
	#mc_embed_signup .mc-field-group label {
		width:100%;
		font-size:0.9em;
	}
	#mc_embed_signup .mc-field-group input {
    padding:0px!important;
  	}
	.fullWidthBtm p {
    color: #6DA63F;
    font-weight: 600;
    padding: 21px;
    width: 80%;
    margin: 0 auto;
    line-height: .9em;
    font-size: .7em;
	}
	.fullWidthBtm {
		background-position:bottom center;
		height:250px;
	}
}
@media (min-width:375px) { /* iphone6 portrait*/
	.pg1copy5 {
    top: 265px;
    left: 40%;
    margin-left: -35%;
	}
	.pnl2 {
    margin-bottom: 50px;
	}
	.pg1copy9 {
    width: 56%;
    top: 99px;
    position: absolute;
    left: 42%;
}
	.pg1pnl7 {
		width:80%;
	}
}
@media (min-width:414px) { /* smartphones, Android phones, landscape iPhone */ 
	.logo {
    width: 83%;
	}
	.buttonCross {
	padding-bottom: 10px;
		width: 25%;
	}
	.tagline {
    width: 50%;
	}
	.buttonCross {
		width:14%;
	}
	.pg1copy2 {
		margin-top: -44px;
	}
	.pg1copy5 {
    top: 278px;
	}
	.pg1copy6 {
    left: 23px;
	}
	.pg1copy9 {
    top: 168px;
    left: 37%;
	}
	.pg1copy13 {
    margin-top: 139px;
    }
	.pnl5 {
		margin-top:31px!important;
	}
	.pg1pnl7 {
		width:80%;
	}
}
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
	.pg1copy5 {
		top: 321px;
	}
	.pg1copy9 {
    top: 208px;
    left: 37%;
	}
	.pnl5 {
    margin-top: 30px;
	}
	.pg1copy13 {
    margin-top: 193px;
	}
	.pg1pnl7 {
		width:80%;
	}
}
@media (min-width:735px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	.pg1copy2 {
    margin-top: -50px;
	}
	.pg1copy4 {
    width: 60%;
    position: absolute;
    left: 150px;
    top: 58px;
	}
	.pg1copy5 {
    top: 372px;
	}
	.pg1copy8 {
    width: 51%;
    top: 9px;
    position: absolute;
    left: -9%;
	}
	.pg1copy9 {
    top: 248px;
    left: 37%;
	}
	.pnl5 {
    margin-top: 65px;
	}
	.pg1copy12 {
    width: 88%;
    z-index: 1;
    position: relative;
    left: -25px;
    top: -74px;
	}
	.pg1copy13 {
    margin-top: 252px;
	}
	.pg1pnl7 {
		width:44%;
	}
}
@media (min-width:768px) { /* ipad */
	.pg1copy5 {
    	top: 362px;
	}
	.fullWidth {
		height:850px!important;
	}
}
@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 
	.fullWidth {
    height: 600px!important;
	}
	.container {
    width: 100%!important;
    max-width: 70rem!important;
	}
	.pg1copy1 {
    width: 67%;
    top: 82px;
    position: relative;
	}
	.pg1copy2 {
		top: -218px;
		width: 83%;
	}
	.pg1copy3 {
    width: 61%;
    top: -60px;
    position: relative;
    left: -18%;
	}
	.pg1copy4 {
    width: 45%;
    position: absolute;
    left: 270px;
    top: 73px;
	}
	.pg1copy5 {
    top: 647px;
    width: 60%;
    left: 54%;
	}
	.pg1copy6 {
    left: 18%;
    top: -35px;
    width: 63%;
	}
	.pg1copy7 {
    width: 69%;
    top: -115px;
    position: absolute;
    left: 16%;
	}
	.pg1copy8 {
    width: 42%;
    top: 60px;
    position: absolute;
    left: -4%;
	}
	.pg1copy9 {
    top: 486px;
    left: 38%;
    width: 45%;
	}
	.pg1copy10 {
    width: 65%;
    top: 0px;
    position: absolute;
    left: 8%;
	}
	.pg1copy11 {
    width: 66%;
    z-index: 1;
    position: relative;
	}
	.pg1copy12 {
    width: 66%;
    z-index: 1;
    position: relative;
    left: -50px;
    top: 0px;
	}
	.pg1copy13 {
        margin-top: 537px;
    width: 66%;
    left: 117px;
	}
	.fullWidthBtm {
    height: 463px!important;
	}
	#mc_embed_signup h2 {
		font-size:1.5em!important;
	}
	.fullWidthBtm p {
    color: #6DA63F;
    font-weight: 600;
    padding: 21px;
    width: 80%;
    margin: 0 auto;
    line-height: 1.2em;
    font-size: .9em;
	}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	.fullWidth {
		height:650px!important;
	}
	.fullWidthBtm {
		height:650px!important;
	}
	.container {
		width: 100%!important;
		max-width: 76rem!important;
	}
	.tagline {
		width:59%;
		padding:20px 0px;
	}
	.buttonCross {
		width:12%;
	}
	.pnl2 {
		margin-top:100px;
	}
	.pg1copy4 {
		top:82px;
	}
	.pg1copy5 {
		top:735px;
	}
	.pg1copy9 {
		top:532px;
	}
	#mc_embed_signup {
		margin: 20px auto;
	}
	.pg1copy13 {
		margin-top:628px;
	}
}

@media only screen and (min-width: 60em){
.container {
    width: 78%;
    max-width: 70rem;
}
}

@media (min-width:1281px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.fullWidth, .fullWidthBtm {
			height:653px!important;
		}
}
@media (min-width:600px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .pg1copy2 {
		top:-15px;
	}
	.fullWidth, .fullWidthBtm {
		height:463px!important;
	}
	.tagline {
		width:40%;
	}
}